.about-page{
    margin-top: 80px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem ;

    h1{
        @include heading(1px);
        font-size: 1.5rem;
        >span{
            color: $color3;
            font-weight: 500;
            font-size: 2.3rem;
            border-bottom: 1px solid #ccc;
            width: max-content;
        }
    }
}
