img:hover {
  cursor: pointer;
  transform: rotate(10deg) scale(1.1);
  transition: all 0.5s;
}

.home-container {
  padding-top: 6rem;
  position: relative;
}
.home {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  > .offer-box {
    display: flex;
    justify-content: center;
    padding: 2rem;
    > .offer-content {
      padding-bottom: 4rem;
      @include flex(column, center, flex-start, 2rem);
      width: 45%;
      > h2 {
        word-wrap: break-word;
        font-size: 5.5rem;
        line-height: 5rem;
        color: $color1;
        > span {
          color: $color3;
        }
      }
      > p {
        word-wrap: break-word;
        font-size: 1rem;
        font-weight: 300;
      }
      > .linkBtn {
        border: 1px solid rgba(0, 0, 0, 0.4);
        padding: 0.7rem 3rem;
        border-radius: 15px;
        background-color: $color3;
        color: $color2;
      }

      > .offer-box-popularity {
        @include flex(row, center, center, 1.5rem);
        > span {
          font-size: 1.5rem;
          @include flex(column, center, center, 0.4rem);
          border-right: 1px solid $color3;

          &:nth-child(1) {
            > p {
              color: #63ece9;
            }
            padding-right: 20px;
          }

          &:nth-child(2) {
            border-right: none;
            > p {
              color: rgb(225, 58, 125);
            }
          }
        }
      }
    }

    > .offer-image {
      background-image: url("../assets/images/nike1.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 50%;
      flex-direction: column;
      display: flex;
      position: relative;
      align-items: flex-end;
      justify-content: flex-end;
      > img {
        position: absolute;
        object-fit: cover;
        width: 90%;
        height: 100%;
      }
      > .arrow-box {
        filter: brightness(100);
        width: 120px;
        transform: rotate(200deg);
        > img {
          width: 100%;
        }
      }
      > .offer-review-box {
        width: max-content;
      }
    }
  }

  > .home-about-box {
    background: #2f2e3e;
    margin: 3rem 6rem ;
    border-radius: 15px;
    display: flex;
    padding: 2rem 2rem;
    gap: 2rem;

    > .home-aboutimage {
      border-radius: 20px;
      > img {
        object-fit: cover;
        width: 100%;
      }
    }
    > .home-about-content {
      width: 88%;
      @include flex(column, center, flex-start, 1.5rem);
      > h2 {
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 700;
        color: $color3;
        word-wrap: break-word;
      }
      > p {
        word-wrap: break-word;
        font-size: 1.2rem;
        font-weight: 300;
      }

      .home-about-box-popularity {
        @include flex(column, flex-start, flex-start, 1rem);

        > span {
          display: flex;
          gap: 0.5rem;
          font-size: 1.5rem;
          @include flex(row, flex-start, center, 1rem);

          > .icons {
            background-color: $color3;
            height: max-content;
            padding: 0.4rem;
            border-radius: 10px;
            @include flex(row, center, center, 0.5rem);
            > svg {
              color: $color2;
              font-size: 2.5rem;
            }
          }
          > .description {
            color: $color1;
            font-weight: 400;
            > span {
              font-size: 1.3rem;
              color: $color3;
              font-weight: 200;
            }
            > p {
              font-size: 1rem;
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  .newArrivals {
    @include flex(column, space-between, center, 0.5rem);

    > h1 {
      @include heading(1px);
      margin-top: 3rem;
      margin-bottom: 1rem;
      @include flex(row, space-between, center);
      padding: 0rem 4rem;
      width: 100%;
      > span {
        color: $color3;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 2rem;
      }
    }

    .findmore {
      font-size: 1rem;
    }

    > main {
      margin-bottom: 2rem;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      display: flex;
      gap: 1rem;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .popular-products {
    background-color: #2f2e3e;
    margin: 3rem 6rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    > .popular-content {
      width: 65%;
      margin: 3rem 1.5rem;
      @include flex(column, flex-start, flex-start, 1.5rem);
      > h2 {
        align-self: flex-start;
        font-size: 2.5rem;
        letter-spacing: 1px;
        font-weight: 500;
        color: $color3;
        word-wrap: break-word;
      }
      .popular-box {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;

        > span {
          display: flex;
          gap: 0.5rem;
          align-items: center;

          > .icons {
            background-color: transparent;
            width: 50px;
            height: 50px;
            padding: 0.4rem;
            border-radius: 10px;
            @include flex(row, center, center, 0.5rem);
            > svg {
              color: red;
              font-size: 2rem;
            }
            > .green {
              color: green;
            }
            > .red {
              color: red;
            }
            > .blue {
              color: rgb(79, 79, 248);
            }
            > .yellow {
              color: yellow;
            }
          }
          > .description {
            color: $color1;
            font-weight: 200;
            > span {
              font-size: 1.4rem;
              color: $color3;
              font-weight: 200;
            }
          }
        }
      }
    }
    > .popular-images {
      width: 40%;
      display: flex;
      flex-direction: row;
      background-color: #4c4d59;
      border-radius: 0 20px 20px 0;
      align-items: center;
      padding: 1rem;
      .main-image {
        padding: 1rem;
        .image-box {
          width: 100%;
        }
      }
      .small-images {
        display: flex;
        flex-direction: column;

        .image-box {
          width: 4rem;
          margin-bottom: 1rem;
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(0px);
          -webkit-backdrop-filter: blur(0px);
          border-radius: 10px;
        }
      }

      .image-box img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  footer {
    border-top: 1px solid #434343;
    margin: 10px 0px;
    display: flex;
    height: 35vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .box {
      width: 25%;
      height: 90%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        h2 {
          @include heading();
          font-size: 1.4rem;
          color: $color3;
        }

        p {
          width: 200px;
          font-size: 15px;
          text-transform: capitalize;
          text-wrap: wrap;
          font-weight: 200;
        }
      }

      &3 {
        gap: 20px;

        p {
          text-transform: uppercase;
          font-size: 25px;
          font-weight: 700;
        }

        div {
          display: flex;
          gap: 10px;

          svg {
            color: $color3;
            font-size: 25px;
            &:hover {
              cursor: pointer;
              color: $color1;
            }
          }
        }
      }

      &4 {
        ul {
          display: flex;
          flex-direction: column;
          gap: 15px;

          a {
            color: $color1;
            font-size: 18px;

            &:hover {
              color: $color3;
            }
          }
        }
      }
    }
  }
  @media (max-width: 789px) {
    footer {
      display: block;
      > .box {
        height: auto;
        width: 100%;
        align-items: center;
      }
      > .box4 {
        > ul {
          flex-direction: row;
          > a {
            font-size: 15px;
          }
        }
      }
    }
  }
}

.product-card {
  width: 18.75rem;
  border-radius: 20px;
  @include flex(column, center, center, 4px);
  background-color: #2f2e3e;
  > .image-div {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    img {
      width: 80%;
      object-fit: cover;
    }
  }
  > .content-div {
    padding: 1rem 0.4rem;
    width: 100%;
    > .content1 {
      display: flex;
      justify-content: space-between;
      padding: 0.1rem 1rem;
      > p {
        font-size: 1.2rem;
        font-weight: 300;
        text-transform: capitalize;
        color: $color1;
      }
      > span {
        font-size: 1rem;
        font-weight: 200;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: $color1;
      }
    }
    > .content2 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0.1rem 1rem;
      align-items: center;

      p {
        font-size: 0.8rem;
        font-weight: 200;
        align-self: flex-start;
        text-transform: capitalize;
        color: $color1;
      }
      button {
        padding: 0.7rem 1rem;
        width: 100%;
        border-radius: 20px;
        border: none;
        background-color: $color3;
        color: $color2;
        &:hover {
          cursor: pointer;
          background-color: $color2;
          color: $color3;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    padding-top: 0rem;
  }
  .home {
    > .offer-box {
      flex-direction: column;

      > .offer-content {
        gap: 1rem;
        width: 100%;
        > h2 {
          font-size: 3.4rem;
        }
      }
      > .offer-image {
        width: 100%;
        > img {
          position: relative;
          top: 2rem;
        }
        > .arrow-box {
          width: 80px;
          transform: rotate(30deg);
        }
      }
    }

    > .home-about-box {
      flex-direction: column-reverse;
      > .home-about-content {
        width: 100%;
      }
      > .home-aboutimage {
        width: 100%;
      }
    }

      > .popular-products {
        width: 100%;
        margin: 0;
        flex-direction: column;

        > .popular-content {
          width: 100%;
          align-items: center;
        }
        > .popular-image {
          width: 100%;
          > .image-box {
            width: 100%;
          }
        }
    }
  }
}
@media screen and (max-width: 1000px) {
  .home {
    > .offer-box {
      > .offer-content {
        gap: 1rem;
        width: 100%;
        > h2 {
          font-size: 3.4rem;
        }
      }
      > .offer-image {
        width: 100%;
      }
    }

    > .home-about-box {
      flex-direction: column-reverse;
      > .home-about-content {
        width: 100%;
      }
      > .home-aboutimage {
        width: 100%;
      }
    }

    > .popular-products {
      flex-direction: column;

      > .popular-content {
        width: 100%;
        display: block;
        margin: 1rem 0.5rem;
      }
      > .popular-images {
        width: 100%;
        flex-direction: column;
        .small-images {
          gap: 1rem;
          flex-direction: row;
          .image-box {
            width: 7rem;
          }
        }
        .main-image{
          padding: 0rem;
        }
  
        .image-box img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .home {
    > .offer-box {
      flex-direction: column;
      margin-top: 50px;
    }

    > .home-about-box {
      width: 100%;
    margin: 0;
    padding: 2rem; 
      align-items: center;
      flex-direction: column-reverse;
      > .home-aboutimage {
        width: 100%;
      }
    }
    > .popular-products {
          padding: 2rem;
      > .popular-content {
        > h2 {
          font-size: 1.8rem;
        }
        .popular-box {
          margin: 1rem 0rem;
          > span {
            > .description {
              > span {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
      > .popular-images {
        width: 100%;
        flex-direction: column;
        .small-images {
          gap: 1rem;
          flex-direction: row;
          .image-box {
            width: 7rem;
          }
        }
        .main-image{
          padding: 0rem;
        }
  
        .image-box img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .home {
    padding: 0;
    > .offer-box {
      padding: 2rem;
    }
    > .home-about-box {
      padding: 2rem;
    width: 100%;
    margin: 0;
    margin: 4rem 0rem;
    background: none;
    }
    > .newArrivals {
      padding: 2rem;
      > h1 {
        margin-top: 0rem;
        padding: 0rem;
        span {
          font-size: 1.4rem;
        }
      }
    }
    > .popular-products {
      width: 100%;
      padding: 2rem;
      background-color: $color2;
      > .popular-content {
        > h2 {
          font-size: 1.8rem;
        }
        .popular-box {
          margin: 1rem 0rem;
          > span {
            > .description {
              > span {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
      > .popular-images {
        .small-images {
          flex-wrap: wrap;
          .image-box {
            width: 47%;
          }
        }
      }
    }
  }
}
