// Add these styles in your SCSS file

.order-container {
  margin-top: 100px;
  padding: 1rem;
  @include flex(column, center,center, 1rem);
  .cards-container {
    padding: 1rem;
    @include flex(column, center, flex-start, 1rem);
    flex-wrap: wrap;
  }

  .order-card {
    padding: 1rem;
    border-radius: 8px;
    background: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.216);

    .order-info{
      @include flex(column, center,flex-start, 0.5rem); 

      >p{
         font-weight: 400;
         color: $color2;
      }
      .status {
        color: $color3;
      }
    
      .Processing {
        color: rgb(255, 59, 59) !important;
        font-weight: 700; 
      }
      .Shipped {
        color: rgb(112, 253, 112) !important;
        font-weight: 700; 
      }
      .Delivered {
        color: rgb(255, 108, 255) !important;
        font-weight: 700; 
      }
    }

    .product-photo {
      width: 200px;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .order-items {
      @include flex(row, flex-start, flex-start, 0.5rem); 
      >h3{
        color: $color2;
      }
      >.item{
       padding: 0.8rem; 
       border-radius:10px; 
      @include flex(column,center,center, 0.5rem); 
        width: 100%;
        background-color: #2f2e3e;

        >.item-details{
          >p{
            color: $color1;
          }
        }
      }
    }
    .order-details {
      display: flex;
      padding: 10px;
      gap: 3rem;

      p {
        margin: 5px 0;
        color: $color2;
      }
    }
  }
}


@media screen and (max-width:500px) {
  .order-container{
    .order-card{
      .order-details{
        flex-direction: row;
      }
    }
  }
}
@media screen and (max-width:950px) {
  .order-container{
    .order-card{
      .order-details{
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width:698px) {
  .order-container{
    .order-card{
      .order-details{
        .order-items{
          flex-direction: column;
        }
      }
    }
  }
}