.product-details{
    margin: 6rem 2rem;
    @include flex(row, flex-start, flex-start,4rem);
    border-radius: 15px;
    padding: 2rem;
    > .product-images{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 40%;
        height: max-content;
        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            background: $color2;
        }

        ::-webkit-scrollbar-thumb {
            background: $color3;
        }
        >img{
            background: linear-gradient(to bottom,$color2,$color1);
            width: 100%;
            border-radius: 10px     ;
            &:hover{
                transform: rotate(2deg) scale(1);
                transition: all 0.5s;
            }
        }
        // >img:nth-child(2){
        //     background: linear-gradient(to right,$color2,$color1);
        // }
        // >img:nth-child(3){
        //     background: linear-gradient(to left,$color2,$color1);
        // }
    }
    > .product-description{
        @include flex(column, center, flex-start, 1.6rem);

        > h1{
            word-wrap: break-word;
            text-transform: capitalize;
            font-weight: 300;
            font-size: 2.2rem;

        }
        > span{
            font-size: 1.5rem;
            font-weight: 400;
            color: $color3;
            >del {
                font-size: 1rem;
                font-weight: 400;
                color: $color1;
            }
        }
        > p{
            font-size:  1.3rem;
            word-wrap: break-word;
            font-weight: 200;
            text-transform: capitalize;
        }
        > h5{
            font-size:  1.1rem;
            color: $color1;
            word-wrap: break-word;
            font-weight: 300;
            text-transform: capitalize;
        }
        >.sizes-box{
            display: flex;
            gap: 1rem;
            >.size{
                padding: 0.5rem 1rem;
                border-radius: 5px;
                background-color: $color3;
                color: $color2;
                cursor: pointer;
            }
            >.size.selected {
                background-color: $color1;
              }
        }
        >table{
            width: 100%;
            >tbody{
                >tr{
                    >td{
                        padding: 1rem;
                        font-size: 1.1rem;
                        word-wrap: break-word;
                        color: $color3;
                        font-weight: 200;
                        border: 1px solid $color1;
                        
                    }
                }
            }
        }
        > button {
            @include flex;
            border: none;
            border-radius: 5px;
            background-color: $color3;
            cursor: pointer;
            color: $color2;
            padding: 0.9rem 2rem; 
            font-size: 1.1rem;
            &:hover {
                opacity: 0.8;
            }
          }
        > .szie-chart{
            width: 100%;
            img{
                width: 100%;
                &:hover{
                    transform: rotate(0deg) scale(1);
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .product-details{
        margin: 100px 30px;
        padding: 0;
        >.product-description{
            >h1{
                font-size: 2.2rem;
                letter-spacing: 1px;
            }
        }
    }
  }
@media screen and (max-width: 1000px) {
    .product-details{
        >.product-description{
            width: 90%;

            >h1{
                font-size: 2rem;
                letter-spacing: 1px;
            }
        }
    }
  }
@media screen and (max-width: 700px) {
    .product-details{
        flex-direction: column;
        >.product-images{
            width: 100%;
            flex-direction: row;
            overflow: scroll;

        }
        >.product-description{
            >h1{
                font-size: 2rem;
                letter-spacing: 1px;
            }
            >p{
                font-size: 1rem;
            }
            >table{
                >tbody{
                    >tr{
                        >td{
                            padding: 0.5rem 0.8rem;
                            font-size: 1rem;
                            color: $color3;
                            font-weight: 200;
                            border: 1px solid $color1;
                            
                        }
                    }
                }
            }
        }
    }
  }
@media screen and (max-width: 421px) {
    .product-details{
        >.product-description{
            >h1{
                font-size: 1rem;
            }
            >span{
                font-size: 1.2rem;
            }
            >p{
                font-size: 0.6rem;
            }
        }
    }
  }