.product-details{
    margin: 120px 50px;
    @include flex(row, flex-start, center,4rem);
    border-radius: 15px;
    padding: 3rem;
    > .product-images{
        width: 45%;
        >img{
            width: 100%;
            border-radius: 10px;
            
        }
    }
    > .product-description{
        @include flex(column, center, flex-start, 0.8rem);

        > h1{
            word-wrap: break-word;
            text-transform: capitalize;
            font-weight: 300;
            font-size: 2.2rem;

        }
        > span{
            font-size: 1.5rem;
            font-weight: 400;
            color: $color3;
            >del {
                font-size: 1rem;
                font-weight: 400;
                color: $color1;
            }
        }
        > p{
            font-size:  1.3rem;
            word-wrap: break-word;
            font-weight: 200;
            text-transform: capitalize;
        }
        > h5{
            font-size:  1.1rem;
            color: $color1;
            word-wrap: break-word;
            font-weight: 300;
            text-transform: capitalize;
        }
        >select{
            padding: 0.5rem 1rem;
            border: none;
            outline: none;
            background-color: $color3;
            color: $color2;
            border-radius: 5px;
        }

        > button {
            @include flex;
            border: none;
            border-radius: 10px;
            background-color: $color3;
            cursor: pointer;
            color: $color2;
            padding: 0.5rem 0.8rem; 
            font-size: 1.1rem;
            &:hover {
                opacity: 0.8;
            }
          }
    }
}

@media screen and (max-width: 1050px) {
    .product-details{
        margin: 100px 30px;
        padding: 0;
        >.product-description{
            >h1{
                font-size: 2.2rem;
                letter-spacing: 1px;
            }
        }
    }
  }
@media screen and (max-width: 1000px) {
    .product-details{
        >.product-description{
            width: 90%;

            >h1{
                font-size: 2rem;
                letter-spacing: 1px;
            }
            >span{
                font-size: 1.3rem;
            }
            >p{
                font-size: 0.8rem;
            }
            >select{
                padding: 0.3rem;
            }
            >h5{
                font-size: 0.8rem;
            }
            >button{
                font-size: 0.8rem;
            }
        }
    }
  }
@media screen and (max-width: 700px) {
    .product-details{
        flex-direction: column;

        >.product-description{
            >h1{
                font-size: 2rem;
                letter-spacing: 1px;
            }
        }
    }
  }
@media screen and (max-width: 421px) {
    .product-details{
        >.product-description{
            >h1{
                font-size: 1rem;
            }
            >span{
                font-size: 1.2rem;
            }
            >p{
                font-size: 0.6rem;
            }
        }
    }
  }